// Single
// ---------------------

.single__article {
  @include center-column(10);
  padding: $space-lg;

  h1,
  h2,
  h3,
  h4 {
    color: $black;

    + p {
      margin-top: $space-md;
    }
  }

  p {
    + h1,
    + h2,
    + h3,
    + h4 {
      margin-top: $space-lg;
    }
  }

  h1 {
    @extend .lg-sans;
    margin-bottom: $space-sm;
  }

  h2 {
    @extend .md-sans;
    margin-bottom: $space-sm;
  }

  h3 {
    @extend .sm-sans;
    margin-bottom: $space-sm;
  }

  h4 {
    @extend .xs-sans;
    margin-bottom: $space-sm;
  }
}

.single__content {
  .entry-content {
    @include span-columns(9);

    img {
      max-width: 100%;
      height: auto;
    }

    a {
      word-break: break-all;
    }
  }

  .single__share {
    @include span-columns(2.5);
    @include shift(.5);
  }
}
