// Global Scaffolding
// ------------------

// Container
.container-fluid {
  @include outer-container(100%);
}

.container {
  @include base-container();
}

.container-flex {
  @include base-container();
  display: flex;
}

.row {
  @include row();
}

.section-padding {
  padding-bottom: rem(120);
  padding-top: rem(120);
}

// Sidebar
.sidebar-right {
  .main-content {

    @include media($medium) {
      @include span-columns(7);
    }
  }

  .sidebar {

    @include media($medium) {
      @include span-columns(4);
      @include shift(1);
    }
  }
}
