// Company: Contact
// -----------------

.contact {
  @include center-column(8);
}

.contact__form {
  text-align: center;

  label {
    display: block;
    padding-top: $space-sm;
    text-align: left;
  }
}

.contact__field {
  @include span-columns(6);
  @include omega(2n);
  margin-bottom: $space-md;

  &.contact__message {
    @include span-columns(12);
    @include omega();
  }

  &.contact__submit {
    width: 100%;
    text-align: center;
  }

}

span.wpcf7-not-valid-tip {
  text-align: left;
  color: $white;
}

div.wpcf7-validation-errors,
div.wpcf7-mail-sent-ok {
  border: 0;
  border-top: rem(2) solid $white;
  border-radius: rem(4);
  color: $white;
}
