// Global Page Header
// ------------------

.page-header {
  text-align: center;
  background-image: url('../../dist/images/shape-bkg.svg');
  padding-top: rem(100);
  padding-bottom: rem(80);

  @include media($small) {
    padding-top: rem(160);
    padding-bottom: rem(140);
  }
}
