// Page Header: Single
// ---------------------

.single {
  .page-header-single {
    text-align: left;
  }

  .page-header-single__content {
    @include center-column(10);
  }
}


.page-header-single {
  text-align: center;
  padding-top: $space-lg;
  padding-bottom: $space-lg;

  @include media($small) {
    padding-top: $space-xl;
    padding-bottom: $space-xl;
  }
}

.page-header-single__title {
  // margin-bottom: $space-sm;
  font-size: 35px;

  @include media($small) {
    font-size: 50px;
  }
}

.page-header-single__meta {
  font-weight: 400;
  margin-bottom: $space-sm;

  > * {
    margin-right: $space-sm;
  }
}
