// Case Studies: Archive
// -----------------

.case-study__wrap {
  @include media($medium) {
    @include center-column(8);
  }
}

.case-study__item {
  display: flex;
  padding: $space-lg;

  + .case-study__item {
    margin-top: rem(2);
  }
}

.case-study__icon {
  text-align: center;
  align-self: center;
  flex: 3;
}

.case-study__content {
  flex: 5;
}

.case-study__header {
  margin-bottom: $space-md;
}

.case-study__footer {
  margin-top: $space-md;
}

.case-study__quote {
  margin-bottom: $space-md;
}

.case-study__source {
  font-weight: 600;
}
