// Get Started: FAQs
// --------------------

.faqs {

  @include media($medium) {
    @include center-column(10);
  }
}

.faqs__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.faqs__item {
  padding: $space-lg $space-md;
  margin-bottom: rem(2);
}
