// Get Started: Pricing Calc
// -----------------

.pricing-calc {
  @include center-column(8);
  text-align: center;
}

.plans {
  @include fill-parent();
  border-collapse: separate;
  border-spacing: rem(2);
  display: table;
}

.plans__signup {
  padding: rem(50);
  display: table-cell;
  position: relative;
}

.plans__price {
  font-weight: 400;

  span {
    font-weight: 400;
  }
}

.plans__details {
  display: table-cell;
}
